require "test_helper"

class <%= class_name %>SchemaTest < ActiveSupport::TestCase
  # test "the truth" do
  #   assert true
  # end

<%- if @parsed_fields.any? -%>
<%- @parsed_fields.map do |field| -%>
  test "the truth for the <%= field.type %> attribute <%= field.name  %>" do
    assert true
  end

<%- end -%>
<%- end -%>
end
